*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -moz-linear-gradient(
    90deg,
    rgba(213, 245, 172, 1) 0%,
    rgba(106, 212, 76, 1) 44%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(213, 245, 172, 1) 0%,
    rgba(106, 212, 76, 1) 44%
  );
  background: linear-gradient(
    90deg,
    rgba(213, 245, 172, 1) 0%,
    rgba(106, 212, 76, 1) 44%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d5f5ac",endColorstr="#6ad44c",GradientType=1);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
main {
  width: 90%;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background: rgb(213, 245, 172);
  background: rgb(213, 245, 172);
  background: -moz-linear-gradient(
    90deg,
    rgba(213, 245, 172, 1) 0%,
    rgba(171, 230, 154, 1) 44%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(213, 245, 172, 1) 0%,
    rgba(171, 230, 154, 1) 44%
  );
  background: linear-gradient(
    90deg,
    rgba(213, 245, 172, 1) 0%,
    rgba(171, 230, 154, 1) 44%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d5f5ac",endColorstr="#abe69a",GradientType=1);
}
h1 {
  padding: 1rem;
}
i {
  margin: 1rem;
}
h2,
i {
  font-size: 1.8rem;
}
p {
  font-size: 1.5rem;
  margin: 1rem;
}
button {
  cursor: pointer;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 0.75rem 5rem;
  border-radius: 4px;
  background-color: rgb(213, 245, 172);
  background-color: -moz-linear-gradient(
    90deg,
    rgba(213, 245, 172, 1) 0%,
    rgba(171, 230, 154, 1) 44%
  );
  background-color: -webkit-linear-gradient(
    90deg,
    rgba(213, 245, 172, 1) 0%,
    rgba(171, 230, 154, 1) 44%
  );
  background-color: linear-gradient(
    90deg,
    rgba(213, 245, 172, 1) 0%,
    rgba(171, 230, 154, 1) 44%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d5f5ac",endColorstr="#abe69a",GradientType=1);
  border-color: rgba(255, 255, 255, 0.6);
  transition: background-color 0.3s linear, color 0.3s linear,
    box-shadow 0.3s linear;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.753);
  color: green;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

/* media queries */

@media (width <= 315px) {
  button {
    padding: 0.75rem 2rem;
  }
}
